<footer class="footer">
	<div class="footer__inner">
		<div class="copyright"> 
			<span>Licensed under the <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPLv3</a></span>
			<span>:: Built with <a href="https://gohugo.io">Hugo</a> and <a href="https://github.com/panr/hugo-theme-terminal">terminal theme</a></span>
		</div>
	</div>
</footer>

<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>

{{ if $.Site.Params.showLanguageSelector }}
<script src="{{ "assets/languageSelector.js" | absURL }}"></script>
{{ end }}

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}
